## Data Importing

### Note:
You don't need to run this file, other notebook under data_engineering folder will call this file and do further processes.  
It's just a starting point.

### 1. Improt raw dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import holidays
from datetime import datetime

In [2]:
df_raw = pd.read_csv("../data/test.csv")
df_raw.head()

,SKU,SALEDATE,INTERID,STYPE,QUANTITY,ORGPRICE,AMT,CITY,STATE,COST,RETAIL,DEPT,COLOR,SIZE,BRAND,ZIP
0,1000007,2005-08-05,744804315,P,1,16.0,16.0,PHOENIX,AZ,7.0,16.0,6404.0,LT. BLUE,L,BILLABON,85032
1,1000007,2005-08-09,478109057,P,1,16.0,16.0,CHANDLER,AZ,7.0,16.0,6404.0,LT. BLUE,L,BILLABON,85226
2,1000007,2005-08-09,554308032,P,1,16.0,16.0,SANDY,UT,7.0,16.0,6404.0,LT. BLUE,L,BILLABON,84070
3,1000007,2005-08-11,141107309,P,1,16.0,16.0,PHOENIX,AZ,7.0,16.0,6404.0,LT. BLUE,L,BILLABON,85032
4,1000007,2005-08-19,56509933,P,1,16.0,16.0,EL CENTRO,CA,7.0,16.0,6404.0,LT. BLUE,L,BILLABON,92243

In [3]:
df_raw.columns

Index(['SKU', 'SALEDATE', 'INTERID', 'STYPE', 'QUANTITY', 'ORGPRICE', 'AMT',
       'CITY', 'STATE', 'COST', 'RETAIL', 'DEPT', 'COLOR', 'SIZE', 'BRAND',
       'ZIP'],
      dtype='object')

In [4]:
# remove impossible
df_raw = df_raw[df_raw["ORGPRICE"] > 0]

In [5]:
# purchases vs returns
df_raw["STYPE"].value_counts()

STYPE
P    20767217
R     1097188
Name: count, dtype: int64